@*Razor Syntax
    1. 골뱅이 기호 사용
    ex) @{}
    2. if, for, foreach 구문
    3. string -> (int), toString();*@

@*<h1>@Model.UserNo</h1>
    <h1>@Model.UserName</h1>*@

@*<h2>@ViewBag.User.UserNo</h2>
    <h2>@ViewBag.User.UserName</h2>*@

<h3>@ViewData["UserNo"]</h3>
<h3>@ViewData["UserName"]</h3>